.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  background: linear-gradient(
    90deg,
    #ffd700 10%,
    transparent 20%,
    transparent 80%,
    #ffd700 90%
  );
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
