* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 5%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: all 0.5s ease;
}

.nav-left,
.nav-right,
.nav-center {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  color: #ffd4b3;
  margin: 0 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffd4b3;
}

.logo {
  width: 170px;
}

.navbar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd4b3;
  font-size: 3rem;
  letter-spacing: 6px;
  text-transform: capitalize;
  text-shadow: 4px 4px 4px #5679cb;
  font-family: "Roboto";
  font-weight: bold;
}
