.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  background: linear-gradient(
    90deg,
    #0000ff 10%,
    transparent 20%,
    transparent 80%,
    #0000ff 90%
  );
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-link {
  color: black;
  margin: 0 20px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
