@keyframes scroll-big {
  0% {
    transform: translateX(100%) scale(2);
  }

  100% {
    transform: translateX(-100%) scale(2);
  }
}

@keyframes scroll-medium {
  0% {
    transform: translateX(100%) scale(1.5);
  }

  100% {
    transform: translateX(-100%) scale(1.5);
  }
}

@keyframes scroll-small {
  0% {
    transform: translateX(100%) scale(1);
  }

  100% {
    transform: translateX(-100%) scale(1);
  }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  z-index: 1;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 10px #2ee3a4;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  z-index: 1;
}

.form-text {
  font-size: 1.5rem;
  font-family: "Roboto";
  text-align: center;
  color: #ffd4b3;
  text-shadow: 2px 2px 4px rgba(163, 163, 163, 0.5);
  margin-bottom: 1rem;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  width: max-content;
  height: max-content;
  background-color: transparent;
}

.form-label {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 10px #2ee3a4;
  margin: 5px;
  font-size: 1.2rem;
}

.input {
  width: 100%;
  padding: 10px;
  border: solid 3px #2ee3a4;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #2ee3a4;
  border-radius: 5px;
  width: 270px;
  background: linear-gradient(black, rgb(37, 37, 37));
  color: #2ee3a4;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.login-button .login-link {
  color: inherit;
  text-decoration: none;
}

.login-button:hover {
  background: transparent;
  color: whitesmoke;
  box-shadow: #2ee3a4 0px 0px 10px;
}

/* Register Form Styling */

.register-wrapper {
  display: flex;
  align-items: center;
  border: 3px solid #2ee3a4;
  border-radius: 5px;
  box-shadow: black 0px 0px 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  color: #2ee3a4;
  z-index: 2;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: radial-gradient(circle, rgb(37, 37, 37), black);
  color: #2ee3a4;
  width: 100%;
  height: 100%;
}

.register-heading {
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: lighter;
  text-align: center;
  color: #2ee3a4;
  text-shadow: 2px 2px 4px rgba(163, 163, 163, 0.5);
  margin-bottom: 0.5rem;
}

.register-input {
  flex: 1;
  color: #2ee3a4;
  border: none;
  outline: none;
  padding: 5px;
  background: none;
}

.register-button {
  margin-top: 20px;
  padding: 10px 20px;
  margin: 5px;
  width: 270px;
  border: 1px solid #2ee3a4;
  border-radius: 5px;
  background: linear-gradient(black, rgb(37, 37, 37));
  color: #2ee3a4;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.register-button:hover {
  background: transparent;
  color: whitesmoke;
  box-shadow: #2ee3a4 0px 0px 10px;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: lighter;
}

/*/////////////////////////*/

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Adjust to fit your needs */
  gap: 30px;
  width: 70%; /* Adjust to fit your needs */
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.poster-wrapper {
  flex: 1 0 20%;
  margin: 1rem;
  max-width: 200px;
  transition: transform 0.3s;
  animation-name: scroll;
}

.poster-wrapper.big {
  animation-name: scroll-big;
}

.poster-wrapper.medium {
  animation-name: scroll-medium;
}

.poster-wrapper.small {
  animation-name: scroll-small;
}
