@import url("https://fonts.googleapis.com/css?family=Audiowide");

.mainPage {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  overflow-y: auto;
}

.topSection {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/joker-4k-poster-1920x1080_666674-mm-90.jpg") no-repeat
      center center/cover;
  background-size: cover;
  height: 80vh;
  padding-top: 80px;
}

.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  width: 50%;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}

.bottomSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-bottom: 2rem;
}

.movieList,
.tvShowList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}

.movieList > * {
  margin: 10px;
}

.tvShowList > * {
  margin: 10px;
}

h1,
h2 {
  font-family: "Audiowide";
  font-weight: lighter;
  font-size: xx-large;
  color: whitesmoke;
}

p {
  font-family: "Audiowide";
  font-weight: lighter;
  font-size: large;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .topSection {
    position: relative;
    height: 50vh;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 4rem;
  }

  .contentList {
    width: 100%;
  }

  .movieList,
  .tvShowList {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }

  .movieList > *,
  .tvShowList > * {
    width: 80%;
    margin: 10px 0;
  }

  h1,
  h2 {
    font-family: "Audiowide";
    font-weight: lighter;
    font-size: medium;
    color: whitesmoke;
  }

  p {
    font-family: "Audiowide";
    font-weight: lighter;
    font-size: smaller;
    color: whitesmoke;
  }
}

@media (max-width: 480px) {
  .info {
    font-size: 12px;
  }

  .movieList,
  .tvShowList {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
